@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
    background-color: white !important;
    padding: 9px !important;
    border-radius: 10px;
}

.active i {
    color: black !important;
}
tr:nth-child(even){
   @apply text-gray-700 bg-gray-50 dark:bg-gray-700 dark:text-gray-400 
}

.alert{
    @apply p-4 rounded-lg
}

.alert-error{
    @apply bg-red-100 text-red-600 border border-red-300
}
.btn[disabled]{
    @apply opacity-40
}