.dropdownDefaultButton {
    background-color: #185eb3 !important;
}

.dropdownMenu_setiing {
    margin-left: 7rem;
}

.dropDownSelected {
    border: 1px solid #185eb3;
    border-radius: 10px;
}
@media(max-width: 640px) {
    .dropdownMenu_setiing {
        margin-left: 5rem;
    }

    .settingSection {

        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        padding-left: 1rem !important;
        padding-right: 1rem !important;
        margin-left: -55px;
    }
}